body {
    margin: 20px 15px 10px 25px;
    font-size: 1.5rem;
}

.layout_flexbox {
    display: flex;
    flex-direction: column;
}

/*---------------------------First Row------------------------------*/

.firtsrow {
    display: flex;
    height: 100px;
}

.firstrow_firstFrame {
    background: #F0223B;
    border: 0.1rem solid gray;
    display: flex;
    width: 66.6%;
}

.firstrow_firstFrame_text {
    display: flex;
    margin: 0 0 0 10px;
}

.firstrow_secondFrame {
    align-items: flex-end;
    background: #FA23A9;
    border: 0.1rem solid gray;
    display: flex;
    justify-content: flex-end;
    width: 33.3%;
}

.firstrow_secondFrame_text {
    display: flex;
    margin: 0 10px 0 0;
}

/*---------------------------Second Row------------------------------*/

.secondrow {
    display: flex;
    height: 380px;
}

.secondrow_firstFrame {
    background: #8D0E96;
    border: 0.1rem solid gray;
    display: flex;
    margin: -2px 0 1px 1px;
    width: 50%;
}

.secondrow_firstFrame_text {
    align-items: center;
    display: flex;
    margin: 0 0 0 10px;
}

.secondrow_secondFrame {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.secondrow_firstSubFrame {
    align-items: center;
    background: #14E3B5;
    border: 0.1rem solid gray;
    display: flex;
    height: 50%;
    justify-content: center;
}

.secondrow_firstSubFrame_text {
    display: flex;
}

.secondrow_secondSubFrame {
    align-items: center;
    background: #15967A;
    border: 0.1rem solid gray;
    display: flex;
    height: 50%;
    justify-content: center;
}

.secondrow_secondSubFrame_text {
    display: flex;
}

/*---------------------------Third Row------------------------------*/

.thirdrow {
    display: flex;
    height: 110px;
    margin-left: 1px;
}

.thirdrow_firstFrame {
    background: #D72BE3;
    border: 0.1rem solid gray;
    display: flex;
    justify-content: flex-end;
    width: 33.3%;
}

.thirdrow_firstFrame_text {
    margin: 5px 10px 0 0;
}

.thirdrow_secondFrame {
    align-items: flex-end;
    background: #F34AFF;
    border: 0.1rem solid gray;
    display: flex;
    width: 33.3%;
}

.thirdrow_secondFrame_text {
    margin: 0 0 5px 10px;
}

.thirdrow_thirdFrame {
    align-items: flex-end;
    background: #7BE32B;
    border: 0.1rem solid gray;
    display: flex;
    justify-content: center;
    width: 33.3%;
}

.thirdrow_thirdFrame_text {
    margin: 0 0 5px 0;
}